<h1>Listing all articles</h1>

<!-- Put a link to create a new article -->
<p>
  <%= link_to "Create a new article", new_article_path %>
</p>

<table>

 <!-- we will be listing out article list as a table where each article is -->
 <!-- displayed in a row -->

  <!-- First display the header row -->
 <tr>
  <th>Title</th>
  <th>Description</th>
 </tr>

  <!-- Now we must display all rows present in table by iterating over them -->
  <% @articles.each do |article| %> <!-- contains all articles retrieved by index method -->
  <tr>
    <td><%= article.title %></td>
    <td><%= article.description %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Show', article_path(article) %></td>
  </tr>
  <% end %>



</table>
